{% extends 'app/base.html' %}

{% load static %}
{% block title %}Reset Password Completed{% endblock %}

{% block main-content %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 text-center">
            <h3>Reset Password Completed</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" frameborder="0" width="200" height="200" class="giphy-embed" allowfullscreen></iframe>
            </div>
            <p class="mt-4">Your password has been reset successfully. You can now log in with your new password.</p>
        </div>
    </div>
</div>
{% endblock %}
